/* your application's overall styling goes here. by default the framework uses the theme in client/css/themes/dark. */

/* Fonts */

html body {
    font-family: var(--arial);
    font-size: 12pt;
    line-height: 1.5; /* DT sets this as 1.15, but this style is actually never applied because of bootstrap */
    background-color: white;
}

/* Prefixing with body is the easiest way to override bootstrap, makes specificity 0, 0, 2
Our bootstrap is outdated due to ng-bootstrap being used (Angular needs upgraded to upgrade this)
This means we have some different styles from the DT site that need overrides */
body p {
    font-family: var(--arial);
    font-size: 14pt;
    line-height: 1.5;
}

/* DT site doesn't actually override the font size and line height properly, so it uses bootstrap defaults
we still need font-family though */
body h1 {
    font-family: var(--futura-maxi-bold);
    /* font-size: 20pt; */
    /* line-height: 1.15; */
}

body h2 {
    font-family: var(--futura-maxi-book);
    /* font-size: 18pt; */
    /* line-height: 1.15; */
}

body h3 {
    font-family: var(--futura-maxi-bold);
    /* font-size: 15pt; */
    /* line-height: 1.25; */
}

body h4 {
    font-family: var(--futura-maxi-book);
    /* font-size: 12pt; */
    /* line-height: 2; */
}

.caption-01 {
    font-family: var(--arial);
    font-size: 10pt;
    line-height: 1.15;
}

.helper-text-01 {
    font-family: var(--arial);
    font-size: 10pt;
    line-height: 1.15;
    font-style: italic;
}

.body-short-01 {
    font-family: var(--arial);
    font-size: 14pt;
    line-height: 1.3;
}

.body-long-01 {
    font-family: var(--arial);
    font-size: 14pt;
    line-height: 1.5;
}

.body-short-02 {
    font-family: var(--arial);
    font-size: 18pt;
    line-height: 1.25;
}

.body-long-02 {
    font-family: var(--arial);
    font-size: 18pt;
    line-height: 1.5;
}

.heading-01 {
    font-family: var(--futura-maxi-book);
    font-size: 12pt;
    line-height: 2;
}

.heading-02 {
    font-family: var(--futura-maxi-bold);
    font-size: 15pt;
    line-height: 1.25;
}

.heading-03 {
    font-family: var(--futura-maxi-bold);
    font-size: 20pt;
    line-height: 1.15;
}

.sub-heading-01 {
    font-family: var(--futura-maxi-book);
    font-size: 18pt;
    line-height: 1.15;
}

.quote-01 {
    font-family: var(--futura-maxi-book);
    font-size: 18pt;
    line-height: 1.5;
    color: var(--primary-blue);
}

.display-01 {
    font-family: var(--futura-maxi-book);
    font-size: 22pt;
    line-height: 1.3;
}

.display-02 {
    font-family: var(--futura-maxi-book);
    font-size: 39pt;
    line-height: 1.15;
}

.display-03 {
    font-family: var(--futura-maxi-bold);
    font-size: 39pt;
    line-height: 1.15;
}

.display-04 {
    font-family: var(--futura-maxi-bold);
    font-size: 69pt;
    line-height: 1.15;
}

.display-05 {
    font-family: var(--futura-maxi-book);
    font-size: 69pt;
    line-height: 1.15;
}

/* Application root */

/* Can't change the name of this, used by Origami */
.flexContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

viewcontainer {
    flex: 1;
    overflow: auto;
}

viewcontainer > *:first-child {
    overflow: visible; /* Needed for return to top to work */
}

viewcontainer > :first-child {
    height: 100%;
    padding-top: 2.5rem;
}

/* Page layouts */

.full-width-main,
.main-with-aside {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin-bottom: 3.75rem;
    margin-top: 1.75rem;
}

.full-width-main main {
    grid-column-start: 2;
    grid-column-end: 12;
}

.main-with-aside main {
    grid-column-start: 2;
    grid-column-end: 9;
}

.main-with-aside aside {
    grid-column-start: 10;
    grid-column-end: 12;
}

/* Page elements */

article {
    margin-bottom: 3.75rem;
}

article > * + * {
    margin-top: 0;
}

section {
    margin-bottom: 3.75rem;
}

article p {
    margin-bottom: 1rem;
}

article h1 {
    border-top: 0.5rem solid var(--tertiary-yellow);
    padding-top: 1rem;
    margin-bottom: 3.75rem;
}

article h2 {
    margin-bottom: 1.75rem;
}

article h3 {
    margin-bottom: 0.875rem;
}

.two-column-article {
    display: flex;
    flex-direction: row;
}

.two-column-article > *:first-child {
    min-width: 30%;
    width: 30%;
    margin-right: 3.75rem;
}

.pull-quote {
    width: 70%;
    margin: 3.75rem auto;
}

article ul,
article ol {
    list-style-position: outside;
    line-height: 1.5;
    font-size: 14pt;
}

article ul {
    list-style: square;
}

article ul li,
article ol li {
    padding-bottom: 0.5rem;
}

/* Card */

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-row-gap: 1.75rem;
    grid-column-gap: 1.75rem;
}

.card {
    box-shadow: inset 0px 0px 0px 2px var(--primary-blue); /* box-shadow prevents gaps in Edge*/
}

.card > *:first-child {
    width: 100%;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    text-align: left;
    padding: 0.7rem 1rem 1.1rem 1.5rem;
    margin-bottom: 0;
}

.card > *:last-child {
    padding: 1rem 1.5rem 1.25rem 1.5rem;
}

.card ul {
	margin: 0;
	padding-left: 1.5rem;
}

/* Two column list layout*/

.two-col-list {
    display: flex;
    flex-direction: row;
}

.two-col-list h2 {
	margin-bottom: 0rem;
}

.two-col-list > div {
    width: 50%;
}

.two-col-list > div:first-child {
    margin-right: 3rem;
}

.two-col-list ul {
    list-style-type: none;
    margin-bottom: 2.5rem;
    font-size: 12pt;
    padding-left: 0;
}

.two-col-list li {
    padding-bottom: 0.5rem;
}

.round-corners {
    border-radius: 20px;
	border: 0px solid transparent;
}

/* Helper classes */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
	.main-with-aside {
		display: block;
		flex-direction: row;
		width: 85%;
		margin: 2rem auto 4rem auto;
	}

	.main-with-aside main {
		width: 100%;
	}

	.main-with-aside aside {
		width: 100%;
		margin-left: 0%;
	}
}

@media screen and (max-width: 768px) {
	.card-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		grid-gap: 1.75rem;
	}

	.two-col-list {
        display: block;
	}

	.two-col-list > div {
        width: 100%;
	}
}

@media screen and (max-width: 576px) {
}
